
.link {
  display: inline-block;
  padding-inline: 60px;
  font-family: Cardo, serif;
  font-size: var(--font-size-button);
  line-height: 60px;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
