
@font-face {
  font-family: 'Cardo';
  src: url('cardo-regular-webfont.woff2') format('woff2'),
        url('cardo-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
