
@font-face {
  font-family: 'Inter';
  src: url('inter-regular-webfont.woff2') format('woff2'),
      url('inter-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
